---
# Can be true, false, or http/https to enable just one of the protocols
:enabled: false

# Available providers:
#   freeipa
#   ad
#:realm_provider: freeipa

# Authentication for Kerberos-based Realms
# Secure the keytab with
# #> chown foreman-proxy <KEYTAB_FILE>
# #> chmod 600 <KEYTAB_FILE>
:realm_keytab: /etc/foreman-proxy/freeipa.keytab
:realm_principal: realm-proxy@EXAMPLE.COM

# FreeIPA specific settings
# Remove from DNS when deleting the FreeIPA entry
:freeipa_remove_dns: true

# Active Directory specific settings
# Domain-specific computer account settings
#:ad_domain_mapping:
#  org.example.com:
#    computername_prefix: ORG-
#    base_ou: OU=Linux,OU=Computers,OU=ORG,OU=EXAMPLE,OU=COM

